#text1{
    color: white;
    text-align: center;
    margin-top: -130px;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;

}
body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
#list{
    text-align: right;
    margin-right: 50px;
    margin-top: 40px;
    text-decoration: none;
    color: inherit;
    color: white;
    font-size: 15px;
}
p{
    color: white;
}
#pitch{
    margin-top: 10px;
    margin-left: 480px;
}
#csgo{
    margin-left: 50px;
    border: 3px solid white;
    border-radius: 10px;
}
#r6{
    margin-left: 50px;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
}
#gtav{
    margin-left: 430px;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    width: 280px;

}
#mine{
    margin-left: 780px;
    border: 3px solid white;
    border-radius: 10px;
    position: absolute;
    width: 280px;
}
footer{
    background-color: rgb(2, 1, 0)
}
.footer-social{
    text-align: center;
    margin-top: 20px;
}
.footer-payment{
    text-align: left;
}
.finalfooter{
    color: white;
}
#pfooter{
    text-align: center;
}
.container2 {
  width: 30%;
}

img {
  float: left;
  width: 30%;
  margin-right: 20px;
}

p {
  float: right;
}
#r62{
    margin-left: 500px;
    margin-bottom: 100px;
    border: 3px solid white;
    border-radius: 10px;
}
#button1{
    margin-left: 50px;
    border: 3px solid white;
    border-radius: 10px;
}
#button2{
    margin-left: 120px;
    border: 3px solid white;
    border-radius: 10px;
}
.botao {
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.botao:hover {
    box-shadow: 2px 2px 5px rgb(255, 0, 0);
    transform: rotate(360deg);
  }
  .dropgames:hover{
      text-shadow: 2px 2px 5px rgb(187, 10, 10);
      
  }
  .images{
    display: flex;
    justify-content: space-around;
    width: 50px;
    
}
